*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    padding: 20px 70px;
    display: grid;
}

.book-container {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto-fill,minmax(100px, 1fr));
    gap: 20px;
}

.book-card {
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.book-card .delete-button, .book-card .read-button {
    border: 3px solid white;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 80px;
    height: 60px;
}

.book-card .read-button {
    grid-row: 1 / -1;
    grid-column: 2;
}

.book-card .delete-button {
    grid-row: 1 / -1;
    grid-column: 3;
}

.book-card .read-button:hover .icon {
    fill: rgb(129, 146, 255);
}

.book-card .delete-button:hover .icon{
    fill: rgb(255, 129, 129);
    width: 44px;
}

.book-card .icon{
    fill: aliceblue;
    width: 42px;
}

#add-book {
    width: 200px;
    height: 60px;

    background-color: aliceblue;
    color: black;
    
    font-size: 26px;
    border-radius: 30px;

    align-self: center;
    justify-self: center;
}

#add-book-dialog {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

#add-book-dialog > form {
    display: flex;
    flex-flow: column;
}

#add-book-dialog > form label{
    text-align: right; 
}


#add-book-dialog > form label > input{
    margin-left: 10px;
}

#add-book-dialog > form > * {
    margin-bottom: 5px;
}